.coverageTable {
    width: 80%;
    table-layout: fixed;
}

.centerText  {
    text-align: center;
}

.topHours {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.coverageDaysLeftSide {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(-90deg);
}

.coverageQuarter {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.coverageDay {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.coverageHour {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    padding: 2px;
}

.goodCoverage {
    background-color: #4dd25d;
    color: black;
}

.badCoverage {
    background-color: #fdf467;
    color: black;
}

.veryBadCoverage {
    background-color: #fd726f;
    color: black;
}

.onlineAdorator {
    box-shadow: inset 0 0 0 4px lightskyblue;
}
