<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <param-comment>contextConfigLocation</param-comment>
        <param-value>
            classpath:webapp/WEB-INF/spring-security.xml
            classpath:conf/spring/engine-application-context.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-comment>appServlet</servlet-comment>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-comment>contextConfigLocation</param-comment>
            <param-value>classpath:webapp/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-comment>appServlet</servlet-comment>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <!-- Spring Security -->
    <filter>
        <filter-comment>springSecurityFilterChain</filter-comment>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-comment>springSecurityFilterChain</filter-comment>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>