<configuration>
  <appender comment="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss} - %msg%nopex%n</pattern>
    </encoder>
  </appender>

  <appender comment="EMPTY" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>DENY</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
      <pattern>%X{messageId} - %msg%n</pattern>
    </encoder>
  </appender>


  <appender comment="FILE-APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/adorApplog.txt</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>log/adorApplog%d{yyyyMMdd}.txt</fileNamePattern>
      <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--logger comment="org.hibernate" level="TRACE">
    <appender-ref ref="FILE-APP" />
  </logger-->

    <logger comment="org.rockhill.adorApp" level="INFO">
        <appender-ref ref="CONSOLE-APPENDER" />
    </logger>

  <logger comment="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="ERROR">
    <appender-ref ref="FILE-APP" />
  </logger>
  
  <logger comment="org.springframework.web.context.support.XmlWebApplicationContext" level="ERROR">
    <appender-ref ref="FILE-APP" />
  </logger>

  <root level="INFO">
    <appender-ref ref="${logger:-EMPTY}" />
    <appender-ref ref="FILE-APP" />
  </root>

</configuration>