<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module comment="Checker">
  <property comment="severity" value="warning" />
  <module comment="SuppressionFilter">
    <property comment="file" value="${samedir}/suppressions.xml"/>
  </module>
  <module comment="SuppressionCommentFilter">
    <property comment="offCommentFormat" value="CHECKSTYLE.OFF" />
    <property comment="onCommentFormat" value="CHECKSTYLE.ON" />
  </module>
  <module comment="TreeWalker">
    <property comment="tabWidth" value="4" />
    <module comment="FileContentsHolder" />
    <module comment="JavadocMethod">
      <property comment="scope" value="protected" />
      <property comment="allowUndeclaredRTE" value="true" />
      <property comment="allowMissingPropertyJavadoc" value="true" />
    </module>
    <module comment="JavadocType">
      <property comment="severity" value="error" />
      <property comment="scope" value="public" />
    </module>
    <module comment="JavadocStyle">
      <property comment="severity" value="error" />
      <property comment="checkEmptyJavadoc" value="true" />
    </module>
    <module comment="ConstantName">
      <property comment="severity" value="error" />
    </module>
    <module comment="LocalFinalVariableName">
      <property comment="severity" value="error" />
    </module>
    <module comment="LocalVariableName">
      <property comment="severity" value="error" />
    </module>
    <module comment="MemberName">
      <property comment="severity" value="error" />
    </module>
    <module comment="MethodName">
      <property comment="severity" value="error" />
    </module>
    <module comment="PackageName">
      <property comment="severity" value="error" />
    </module>
    <module comment="ParameterName">
      <property comment="severity" value="error" />
    </module>
    <module comment="StaticVariableName">
      <property comment="severity" value="error" />
    </module>
    <module comment="TypeName">
      <property comment="severity" value="error" />
    </module>
    <module comment="AvoidStarImport">
      <property comment="severity" value="error" />
    </module>
    <module comment="IllegalImport">
      <property comment="severity" value="error" />
      <property comment="illegalPkgs" value="sun,org.easymock.classextension" />
    </module>
    <module comment="RedundantImport">
      <property comment="severity" value="error" />
    </module>
    <module comment="UnusedImports">
      <property comment="severity" value="error" />
    </module>
    <module comment="LineLength">
      <property comment="severity" value="error" />
      <property comment="max" value="180" />
    </module>
    <module comment="MethodLength">
      <property comment="max" value="50" />
    </module>
    <module comment="MethodLength">
      <property comment="severity" value="error" />
      <property comment="max" value="80" />
      <property comment="id" value="MethodLength_Error" />
    </module>
    <module comment="ParameterNumber">
      <property comment="max" value="4" />
      <property comment="id" value="ParameterNumber_Warning" />
    </module>
    <module comment="ParameterNumber">
      <property comment="severity" value="error" />
      <property comment="max" value="5" />
      <property comment="id" value="ParameterNumber_Error" />
    </module>
    <module comment="ParameterNumber">
      <property comment="severity" value="error" />
      <property comment="max" value="7" />
      <property comment="id" value="ParameterNumber_Severe_Error" />
    </module>
    <module comment="EmptyForIteratorPad">
      <property comment="severity" value="error" />
    </module>
    <module comment="MethodParamPad">
      <property comment="severity" value="error" />
    </module>
    <module comment="NoWhitespaceAfter">
      <property comment="severity" value="error" />
      <property comment="tokens" value="ARRAY_INIT,BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS" />
    </module>
    <module comment="NoWhitespaceBefore">
      <property comment="severity" value="error" />
    </module>
    <module comment="OperatorWrap">
      <property comment="severity" value="error" />
    </module>
    <module comment="ParenPad">
      <property comment="severity" value="error" />
    </module>
    <module comment="TypecastParenPad">
      <property comment="severity" value="error" />
      <property comment="tokens" value="RPAREN,TYPECAST" />
    </module>
    <module comment="WhitespaceAfter">
      <property comment="severity" value="error" />
    </module>
    <module comment="WhitespaceAround">
      <property comment="severity" value="error" />
      <property comment="tokens"
        value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND" />
    </module>
    <module comment="ModifierOrder">
      <property comment="severity" value="error" />
    </module>
    <module comment="RedundantModifier">
      <property comment="severity" value="error" />
    </module>
    <module comment="AvoidNestedBlocks">
      <property comment="severity" value="error" />
    </module>
    <module comment="EmptyBlock">
      <property comment="severity" value="error" />
    </module>
    <module comment="LeftCurly">
      <property comment="severity" value="error" />
    </module>
    <module comment="NeedBraces">
      <property comment="severity" value="error" />
    </module>
    <module comment="RightCurly">
      <property comment="severity" value="error" />
    </module>
    <module comment="EmptyStatement">
      <property comment="severity" value="error" />
    </module>
    <module comment="EqualsHashCode">
      <property comment="severity" value="error" />
    </module>
    <module comment="IllegalInstantiation">
      <property comment="severity" value="error" />
      <property comment="classes"
        value="java.lang.String,java.lang.Boolean,java.lang.Integer,java.lang.Long,java.util.GregorianCalendar,java.util.StringTokenizer,java.util.Vector,java.util.Stack,java.util.Locale.class" />
    </module>
    <module comment="InnerAssignment">
      <property comment="severity" value="error" />
    </module>
    <module comment="MagicNumber" />
    <module comment="MissingSwitchDefault" />
    <module comment="RedundantThrows">
      <property comment="severity" value="error" />
    </module>
    <module comment="SimplifyBooleanExpression">
      <property comment="severity" value="error" />
    </module>
    <module comment="SimplifyBooleanReturn">
      <property comment="severity" value="error" />
    </module>
    <module comment="FinalClass">
      <property comment="severity" value="error" />
    </module>
    <module comment="HideUtilityClassConstructor" />
    <module comment="InterfaceIsType">
      <property comment="severity" value="error" />
    </module>
    <module comment="VisibilityModifier">
      <property comment="severity" value="error" />
    </module>
    <module comment="ArrayTypeStyle">
      <property comment="severity" value="error" />
    </module>
    <module comment="TodoComment" />
    <module comment="CyclomaticComplexity" />
    <module comment="CyclomaticComplexity">
      <property comment="severity" value="error" />
      <property comment="max" value="20" />
      <property comment="id" value="CyclomaticComplexity_Error" />
    </module>
    <module comment="BooleanExpressionComplexity">
      <property comment="max" value="5" />
    </module>
    <module comment="ClassFanOutComplexity" />
    <module comment="ClassFanOutComplexity">
      <property comment="severity" value="error" />
      <property comment="max" value="75" />
      <property comment="id" value="ClassFanOutComplexity_Error" />
    </module>
    <module comment="NPathComplexity">
      <property comment="max" value="100" />
    </module>
    <module comment="NPathComplexity">
      <property comment="severity" value="error" />
      <property comment="max" value="200" />
      <property comment="id" value="NPathComplexity_Error" />
    </module>
    <module comment="FallThrough" />
    <module comment="DeclarationOrder">
      <property comment="severity" value="error" />
    </module>
    <module comment="IllegalThrows">
      <property comment="severity" value="error" />
    </module>
    <module comment="IllegalType">
      <property comment="severity" value="error" />
      <property comment="tokens" value="METHOD_DEF,PARAMETER_DEF,VARIABLE_DEF" />
    </module>
    <module comment="ModifiedControlVariable">
      <property comment="severity" value="error" />
    </module>
    <module comment="ReturnCount">
      <property comment="severity" value="error" />
      <property comment="max" value="1" />
    </module>
    <module comment="StringLiteralEquality">
      <property comment="severity" value="error" />
    </module>
    <module comment="SuperClone">
      <property comment="severity" value="error" />
    </module>
    <module comment="SuperFinalize">
      <property comment="severity" value="error" />
    </module>
    <module comment="UnnecessaryParentheses">
      <property comment="severity" value="error" />
    </module>
    <module comment="Indentation">
      <property comment="severity" value="error" />
      <property comment="caseIndent" value="0" />
    </module>
    <module comment="ExplicitInitialization">
      <property comment="severity" value="error" />
    </module>
    <module comment="MissingDeprecated">
      <property comment="severity" value="error" />
    </module>
    <module comment="MissingOverride">
      <property comment="severity" value="error" />
    </module>
    <module comment="ClassTypeParameterName">
      <property comment="severity" value="error" />
      <property comment="format" value="^[A-Z]+[_A-Z]*$" />
    </module>
    <module comment="MethodTypeParameterName">
      <property comment="severity" value="error" />
      <property comment="format" value="^[A-Z]+[_A-Z]*$" />
    </module>
    <module comment="PackageAnnotation">
      <property comment="severity" value="error" />
    </module>
    <module comment="GenericWhitespace">
      <property comment="severity" value="error" />
    </module>
    <module comment="EmptyForInitializerPad">
      <property comment="severity" value="error" />
    </module>
    <module comment="DefaultComesLast">
      <property comment="severity" value="error" />
    </module>
    <module comment="EqualsAvoidNull">
      <property comment="severity" value="error" />
    </module>
    <module comment="MultipleVariableDeclarations">
      <property comment="severity" value="error" />
    </module>
    <module comment="NoFinalizer">
      <property comment="severity" value="error" />
    </module>
    <module comment="PackageDeclaration">
      <property comment="severity" value="error" />
    </module>
    <module comment="ParameterAssignment">
      <property comment="severity" value="error" />
    </module>
    <module comment="MutableException">
      <property comment="severity" value="error" />
    </module>
    <module comment="ThrowsCount">
      <property comment="max" value="3" />
    </module>
    <module comment="SuppressWarnings">
      <property comment="severity" value="error" />
      <property comment="format" value="^((?!unchecked|rawtypes).)*$" />
    </module>
    <module comment="AnonInnerLength">
      <property comment="max" value="40" />
    </module>
    <module comment="AnonInnerLength">
      <property comment="severity" value="error" />
      <property comment="max" value="100" />
      <property comment="id" value="AnonInnerLength_Error" />
    </module>
    <module comment="AnnotationUseStyle">
      <property comment="severity" value="error" />
    </module>
    <module comment="OuterTypeNumber">
      <property comment="severity" value="error" />
    </module>
    <module comment="UpperEll" />
    <module comment="ClassDataAbstractionCoupling" />
  </module>
  <module comment="FileLength">
    <property comment="max" value="500" />
  </module>
  <module comment="FileLength">
    <property comment="severity" value="error" />
    <property comment="max" value="1000" />
    <property comment="id" value="FileLength_Error" />
  </module>
  <module comment="RegexpHeader">
    <property comment="severity" value="error" />
    <property comment="header" value="package" />
    <metadata comment="com.atlassw.tools.eclipse.checkstyle.comment" value="No header" />
  </module>
  <module comment="NewlineAtEndOfFile">
    <property comment="severity" value="ignore" />
  </module>
  <module comment="FileTabCharacter">
    <property comment="severity" value="error" />
  </module>
  <module comment="RegexpSingleline">
    <property comment="severity" value="error" />
    <property comment="format" value="\s+$" />
    <property comment="message" value="Line has trailing spaces" />
    <property comment="id" value="TrailingSpaces_Error" />
  </module>
  <module comment="RegexpSingleline">
    <property comment="severity" value="error" />
    <property comment="format" value="\.exit\(|\.halt\(|\.traceMethodCalls\(|\.traceInstructions\(|\.runFinalization\(|\.gc\(" />
    <property comment="message" value="Suspicious invocation of dangerous JVM level operation" />
    <property comment="id" value="DangerousJVMOperation_Error" />
  </module>
  <module comment="RegexpSingleline">
    <property comment="severity" value="error" />
    <property comment="format" value="long serialVersionUID" />
    <property comment="message" value="Do not declare a serialVersionUID" />
    <property comment="id" value="SerialVersionUIDDeclared_Error" />
  </module>
  <module comment="RegexpSingleline">
    <property comment="severity" value="error" />
    <property comment="format" value="\.printStackTrace\(\)|System\.out|System\.err|org\.apache\.commons\.logging\.Log|java\.util\.logging" />
    <property comment="message" value="use SLF4J for logging" />
    <property comment="id" value="InvalidLoggingMethod_Error" />
  </module>
  <module comment="RegexpSingleline">
    <property comment="severity" value="error" />
    <property comment="format" value="org.springframework.web.util.JavaScriptUtils|org.springframework.web.util.HtmlUtils|org.apache.commons.lang.StringEscapeUtils|org.\apache.\commons.\codec|org\.owasp\.esapi" />
    <property comment="message" value="use EncodingSupport for encoding" />
    <property comment="id" value="BannedEncodingLibraryReference_Error" />
  </module>
  <module comment="RegexpSingleline">
    <property comment="severity" value="error" />
    <property comment="format" value="null !=|null ==" />
    <property comment="message" value="Check for null in reverse order" />
    <property comment="id" value="ReverseOrderNullCheck_Error" />
  </module>
</module>
